*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

.game-board{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.inimigo {
    position: absolute;
    top: -200px;
    width: 200px;
    height: 200px;
    animation: cair 3s linear infinite;
    animation-fill-mode: none;
}

.inimigo1 {
    left: 5%;
    animation-delay: 1s;
}

.inimigo2 {
    left: 45%;
    animation-delay: 1s;
}

.inimigo3 {
    left: 70%;
    animation-delay: 2s;
}

.inimigo4 {
    left: 20%;
    animation-delay: 3s;
}

.inimigo5 {
    left: 90%;
    animation-delay: 4s;
}

@keyframes cair {
    0% {
        top: -200px;
    }
    100% {
        top: 100vh;
    }
}

.jogador {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 300px;
    object-fit: contain;
}